<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <!-- hlavicka -->
    <header>
        <h1>Login</h1>
    </header>

    <!-- telo -->
    <main>
        <form action="/login">
            <p>Přihlašovací jméno</p>
            <input type="text" name="username">
            <p>Heslo</p>
            <input type="text" name="password">
            <button type="submit">Přihlásit</button>
        </form>
    </main>

    <!-- paticka -->
    <footer>
        <p>&copy; Martin Synek</p>
    </footer>
</body>

</html>