<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poznámky</title>
</head>

<body>
    <!-- hlavicka -->
    <header>

    </header>
    
    <!-- telo -->
    <main>

    </main>
    
    <!-- paticka -->
    <footer>
        <p>&copy; Martin Synek</p>
    </footer>
</body>

</html>