<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace</title>
</head>

<body>
    <!-- hlavicka -->
    <header>
        <h1>Registrace</h1>
    </header>

    <!-- telo -->
    <main>
        <form action="/register" method="post">
            <p>E-mailová adresa</p>
            <input type="text" name="email" required>
            <p>Přihlašovací jméno</p>
            <input type="text" name="username" required>
            <p>Heslo</p>
            <input type="password" name="password" required>
            <button type="submit">Registrovat</button>
        </form>
        <a href="/">Login</a>
    </main>

    <!-- paticka -->
    <footer>
        <p>&copy; Martin Synek</p>
    </footer>
</body>

</html>